<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medical Assets Investment Company</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top" style=""> 
    <div class="container">
      <a class="navbar-brand btn btn-primary" href="#">Home</a>
      <a class="btn btn-outline-primary" href="login.html">Login</a>
      <a class="btn btn-success" href="login.html">Sign Up</a>

    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <a class="btn btn-primary" href="login.html">Equity Investment</a>
        <a class="btn btn-success" href="login.html">Loan Sponsorship</a>
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Healthcare Investments</h1>

          <h4 class="mb-5">Transforming Healthcare</h4>

        </div>
       
      </div>
    </div>
  </header>

 

 

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Available Healthcare Investments</h2>
      <div class="row">
        <div class="col-lg-3">
        <div class="card  h-100">
        <div class="header">
            <img class="img-fluid  mb-3" src="img/testimonials-1.jpg" alt="">
        </div>
          <div class="card-body d-flex flex-column">
            <h6>Pediatric Specialty Hospital</h6>
            <p class="font-weight-light mb-0">Lagos</p>
            <p>&#10004; verified<br></p>
            <!-- <h6>National HMO with 35,000 Enrollee Base</h6> -->
    <p class="font-weight-light mb-0">Fund for Service Expansion</p>
        <h6>80,000,000</h6>
            <h6>40% Equity in a Hospital with Last Year Revenue of 45,000,000</h6>
            <a class="btn btn-primary btn-block mt-auto" href="login.html">View </a>

          </div>
        </div>

        </div>
        <div class="col-lg-3">
            <div class="card  h-100">
            <div class="header">
                <img class="img-fluid  mb-3" src="img/testimonials-1.jpg" alt="">
            </div>
              <div class="card-body d-flex flex-column">
                <h6>Health Technology Company</h6>
                <p class="font-weight-light mb-0">Lagos</p>
                <p>&#10004; verified<br></p>
                <!-- <h6>National HMO with 35,000 Enrollee Base</h6> -->
        <p class="font-weight-light mb-0">Fund for Market Development</p>
            <h6>20,000,000</h6>
                <h6>20-40% Equity Investment in Company with 70,000 Users</h6>
            <a class="btn btn-primary btn-block mt-auto" href="login.html">View </a>

              </div>
            </div>
    
            </div>

            <div class="col-lg-3">
                <div class="card  h-100">
                <div class="header">
            <img class="img-fluid  mb-3" src="img/testimonials-3.jpg" alt="">
                </div>
                  <div class="card-body d-flex flex-column">
                    <h6>Health Maintenance Organization(HMO)</h6>
                    <p class="font-weight-light mb-0">Lagos</p>
                    <p>&#10004; verified<br></p>
                    <!-- <h6>National HMO with 35,000 Enrollee Base</h6> -->
            <p class="font-weight-light mb-0">Fund for Divestment</p>
            <h6>215,000,000</h6>
            <h6>50-100% Equity in National HMO with 35,000 Enrollee Base</h6>
            <a class="btn btn-primary btn-block mt-auto" href="login.html">View </a>

                  </div>
                </div>
        
                </div>
                <div class="col-lg-3">
                    <div class="card  h-100">
                    <div class="header">
                <img class="img-fluid  mb-3" src="img/testimonials-3.jpg" alt="">
                    </div>
                      <div class="card-body d-flex flex-column">
                        <h6>Diagnostic Centre</h6>
                        <p class="font-weight-light mb-0">Abuja</p>
                        <p>&#10004; verified<br></p>
                <p class="font-weight-light mb-0">Fund for: August Staff Salary</p>

                        <h6>1,500,000</h6>
            <h6>10% returns in 2 months</h6>

                <a class="btn btn-primary btn-block  mt-auto" href="login.html">View </a>
    
                      </div>
                    </div>
            
                    </div>
      
    </div>

    </div>
  </section>

 <!-- Icons Grid -->
  <section class="features-icons bg-light text-center" style="background: linear-gradient(to right, #4b6cb7, #182848);">
    <div class="container">
      <div class="row">
            <h4> <b>Partners </b></h4>

       
        <div class="col-lg-4">
            <img class="" src="{% static 'lagnurse/lasglogo.jpeg' %} " alt="userpix">
        
        </div>
        <div class="col-lg-4">
            <img class="" src="{% static 'lagnurse/nmc.jpeg' %} " alt="userpix">        

        </div>
      </div>
    </div>
  </section>
  <!-- Call to Action -->


<section>
<div class="  text-monospace text-dark text-center" style="padding: 5px;margin:40px;">  
                    
      <p> <a href="{% url 'faqs' %}" class="btn btn-outline-primary btn-sm">FAQs</a>|
        <a href="{% url 'verifyterms' %}" class="btn btn-outline-primary btn-sm">Terms and Conditions </a>| <a href="{% url 'privacy' %}" class="btn btn-outline-primary btn-sm">Privacy</a>
        | <a href="{% url 'privacy' %}" class="btn btn-outline-primary btn-sm">About</a>
        </p>
  </div>
</section>

  <section class="call-to-action text-white text-center">
 <div class="container">
      <div class="row">
     
        <div class="col-lg-6  text-center text-lg-right my-auto">
                <label>Connect</label>

          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
              <li class="list-inline-item">
              <a href="request.html">
                <i class="fab fa-whatsapp fa-2x fa-fw"></i>
              </a>
            </li>
              <li class="list-inline-item">
              <a href="nursepage.html">
                <i class="fab fa-envelope fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>
            

  <!-- Footer -->
 
  <footer class="footer bg-light" style="width: 100%;   background: linear-gradient( to right, #dbe6f6, #98989C);">

      <div class="  text-monospace text-dark text-center" style="padding: 5px;">  
   
  GMS Suites, Glass House, Ikeja, Lagos |
    &copy;
    <script>
      document.write(new Date().getFullYear())
    </script>
    <a href="https://www.verifynurse.com" target="_blank">MAIC</a>
                    </div>
  </footer>





                    </div>

  </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
