{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}

          {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% endif %}
    </ul>


 <form method="post" action="{% url 'users:password_reset' %}">
     {% csrf_token %}
     <div class="top-content">
        	
            {% comment %} <div class="inner-bg"> {% endcomment %}
               
                <div class="container">
                  
                   
                    
                    <div class="row">
              <div class="col-sm-3"></div>
              
                        <div class="col-sm-6" style="background-image: url('{% static 'lagnurse/girl.jpg' %}')";>
                          
                          <div class="form-box">
                            <div class="form-top">
                              <div class="form-top-left">
 <h3>Reset Password</h3>
 <div class="form-top-right">
        <i class="fa fa-lock"></i>
      </div>
</div>
</div>
</div>
<div class="form-bottom">

 <div class="form-group">

      <label><b>Email</b></label>
            {{password_reset_form.email|add_attributes:"class:w3-input w3-border w3-margin-bottom w3-round,placeholder:Enter Your Email"}}
           <input class="form-control" type="text" placeholder="Enter Your Email" name="usrname" >

<br>
        <button class="btn btn-block" type="submit">Reset Password</button>
<br>
          <p class="">By continuing, you accept the Terms of Use and Privacy Policy</p>
    </div>
</div>

<div class="col-sm-3"></div>

</div>
</div>
</div>
</div>
</div>

</form>
   {% endblock content %}