<!-- Navbar (sit on top) -->


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">VerifyNurse</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>Olufemi Pharmacy</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src={{ message_senderpix}} alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>{{ message.sender}}</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> {{ message_date}} at {{ message_time}}</p>
                                <p>{{ message}}</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>Olufemi Aina</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-footer">
                    <a href="#">Read All New Messages</a>
                </li>
            </ul>
        </li>
        
        <li class="dropdown">
            {% comment %} <a href="{% url 'provider_profile' pk=user.pk  %}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>   {% endcomment %}
                {{ provider.org_name }}                 
                <b class="caret"></b></a>
            <ul class="dropdown-menu">

                <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
             
                <li class="divider"></li>
                <li>
                    <a href="{% url 'users:logout' %}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
             <a href="{% url 'dashboard' %}"><i class="fa fa-fw fa-edit"></i> Regulator Dashboard</a>                        
            </li>
           
            <li>
                <a href="{% url 'trainer' %}"><i class="fa fa-fw fa-table"></i> Training Provider</a>
            </li>
       
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

