{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}


 <form method="post" action="{% url 'users:completer' %}">
 
     {% csrf_token %}

  
            <div class="inner-bg">
                 <div class="container"> 
                
                    
                    <div class="row">
                       
                        
                        <div class="col-sm-3"></div>
                        	
                        <div class="col-sm-6" style="background-image: url('{% static 'lagnurse/girl.jpg' %}')";>
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Complete Your Registration</h3>
	                            		<p>Activate Your VerifyNurse Account:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
                   
                   {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% comment %} {{ field.username }} {% endcomment %}
        {% comment %} {{ field.user_type }} {% endcomment %}


        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% comment %} {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %} {% endcomment %}
      </p>
      {% endfor %}   
  <div class="form-group">
                            <label class="sr-only" for="form-password">Password</label>
              {% comment %} {{form.password|add_attributes:"class:w3-input w3-border w3-margin-bottom w3-round-xxlarge,placeholder:Enter Passwordi"}} {% endcomment %}

                 
                                        </div>

                                     
                                             
                                        <button type="submit" class="btn btn-block">Submit</button>
 <p class="">By continuing, you accept the Terms of Use and Privacy Policy</p>
                                        
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                        <div class="col-sm-3"></div>
                        
                    </div>
                    
                </div>
            </div>
            

</form>
   {% endblock content %}