{% extends "index.html" %}
{% load staticfiles %}
          {% block content %}
 <!-- About Section -->

 


 <div class=" container-fluid" style="margin-top: 50px;">

<div class="container" >
   <div style="text-align: center;margin-top: 45px;"> 
    <h3> <u>Frequently Asked Questions (FAQs)</u></h3>
</div>

<div class="card-group"  style="text-align: center;margin-top: 45px;">
      <div class="card">
           
        <div class="card-body" style="text-align: center;">
            
            What is HEALTHIER?

HEALTHIER is a personalized mobile health manager. Healthier help identify healthcare needs and the best service providers for those needs.

Why should I use HEALTHIER?

HEALTHIER automates Health coverage processes, saving verification time for enrollees in accessing care, preparation time of bills, Receipts and encounter data for hospital staff and claims management time for HMO staff.

Which platforms are supported?

Web and Mobile platforms like Android and iOS are supported

How do i use the Healthier platform to improve my Experience?

Request your HMO to use the Healthier platform. Your Organization can also manage their Hospitals with the Healthier platform.

What are the benefits of Healthier to HMO Clients?

Enrollees have secure access to their Health information, Healthier also help enrollees contribute to transparency in Health Insurance Service Delivery

How long does it take my HMO to send my name to my Hospital?

You can access Healthcare Service immediately after registration on the Healthier platform

How do I change my Hospital on Healthier platform?

You can make requests to your HMO for Hospital Change or second opinion on your HEALTHOUCH mobile platform

How secure is the Healthier platform?

Healthier platform is very secure as access is by both a biometric fingerprint system and secure NFC technology built on a ???????????????

Where can I use my Healthier card?

You can use your Healthier access card anywhere within Nigeria, as Healthier also works offline. Healthier platform will be available very soon throughout Nigeria.


        </div>

          <div class="col-sm-12 "  style="background: linear-gradient(to right, #0c2646 0%, #204065 60%, #25c3d8 100%); width: 100%;" >
    
    <div style="text-align: center;margin-top: 25px;"> 

     <h4 >Key features of Healthie</h4>
 </div>
 
 <div class="card-deck"  style="text-align: center; margin-top: 15px;margin-bottom: 45px; ">
       <div class="card text-white custom-card">
             <div class="card-header" style="text-align: center;">
                   <h3>Control</h3>
                              
                                 </div>  
         <div class="card-body" style="text-align: center;">
             <i class="fa fa-diamond w3-margin-bottom w3-jumbo text-warning"></i>
 
             <p>Carefully designed Personal Health Manager for you and your Loved Ones.</p>
         </div>
       </div>
       <div class="card text-white custom-card">
             <div class="card-header" style="text-align: center;">
                   <h3>Options</h3>
                              
                                 </div>  
         <div class="card-body" style="text-align: center;">
             <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center text-info" ></i>
             <p>Private & Secure Access for Your Preventive and Curative Health.</p>  
         </div>
       </div>
 
       <div class="card text-white custom-card">
             <div class="card-header" style="text-align: center;">
                   <h3>Ownership</h3>
                              
                                 </div>  
         <div class="card-body" style="text-align: center;">
             <i class="fa fa-heart w3-margin-bottom w3-jumbo text-info"></i>
             <p>Have Full Ownership & Control of Your Health Information.</p>
         </div>
       </div>
   
       <div class="card text-white custom-card">
             <div class="card-header" style="text-align: center;">
                   <h3>Choice</h3>
                              
                                 </div>  
         <div class="card-body" style="text-align: center;">
             <i class="fa fa-cog w3-margin-bottom w3-jumbo text-warning"></i>
  
             <p> Opt for Healthcare from Vetted Service Providers.</p>
         </div>
       </div>
    </div>
</div>
      </div>
    
     
   </div>

</div>
</div>
   {% endblock content %}