{% extends "index.html" %}
{% load staticfiles %}
          {% block content %}
 <!-- About Section -->

 


 <div class=" container-fluid" style="margin-top: 50px;">

<div class="container" >
   <div style="text-align: center;margin-top: 45px;"> 
    <h3 >Privacy Terms</h3>
</div>

<div class="card-group"  style="text-align: center;margin-top: 45px;">
      <div class="card">
           
        <div class="card-body" style="text-align: center;">


            Healthier Privacy Policy

When it comes to your privacy, nobody is more interested in having you covered than we are. We hinge our entire brand promise on making things easier and safe for our users.

We are 100% committed to ensuring that every personal information you give us in the course of a transaction is secure and safeguarded. 

Our Privacy Policy is a document that describes how we collect, use and process any personal information you give us. We also tell you how you can reach us if you have questions about your personal data or about our use of cookies.

 Healthier offers healthcare services through its official website and other owned media (including but not limited to the Healthier mobile app, its social media, emails and phone correspondences). 

The information describing our Privacy Policy applies to all of these platforms but does not apply to the practices of companies that Healthier does not own or control, or of persons that Healthier does not employ or manage, including any third-party content contributors bound by contract and any third-party websites to which Healthier websites link.

Healthier may make occasional modifications to its Privacy Policy, so visit this page regularly to be updated. If you do not agree with our Privacy Policy, you should discontinue using Healthier and its services.
        </div>
      </div>
  

   </div>

</div>
</div>
   {% endblock content %}