{% extends "index.html" %}
{% load staticfiles %}
          {% block content %}
 <!-- About Section -->

 


 <div class=" container-fluid" style="margin-top: 50px;">

<div class="container" >
   <div style="text-align: center;margin-top: 45px;"> 
    <h3 >User Terms and Conditions</h3>
</div>

<div class="card-group"  style="text-align: center;margin-top: 45px;">
      <div class="card">
          
        <div class="card-body" style="text-align: center;">

            Welcome to the Healthier online portal (the “Healthier"). These terms & conditions ("Terms and Conditions") apply to the Site, and all of its divisions, that reference these Terms and Conditions.

Healthier reserves the right, to change, modify, add, or remove portions of both the Terms and Conditions of Use  at any time. Changes will be effective when posted on the Site with no other notice provided. 

Please check these Terms and Conditions regularly for updates. Continued use of Healthier after these Terms are updated constitutes your acceptance of those changes.

User agree to the Healthier terms by registering and using their registered accounts. Users include registered customers

While Healthier provides the platform to patronize vetted service providers, users and other customers are responsible for the providers they choose
Users are charged cancellation fees for confirmed appointments that payment is already made to provider, but Users are due the full cost of their service if the provider cancels Appointment.

Non availability of service due to no fault if the user is deemed cancellation by the service provider and users are due a full cost of their service.

Service on Healthier is appointment-based, users expect to have a special service track different from normal users.

You confirm that you are at least 18 years of age or are accessing Healthier under the supervision of a parent or legal guardian, if you are under 18 years.

You agree to refrain from using Healthier, if you do not agree with the Terms or do not wish to be bound by them.

You are entirely responsible for all activities that occur under your password or account and Healthier shall not be liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of its use.

We advise you to review the terms anytime you use any of Healthier services as they may have been revised.

By agreeing to these terms, you agree not to make unlawful use of this platform or its contents.

Healthier offers Healthcare Service of all types, which include diagnostic services, specialist consultations, home care, vaccinations etc. The provision of these services are found on the website through which you can purchase your Healthcare service. 

By buying Healthcare service through us, you enter into a legally binding agreement with the direct service provider (diagnostic centers, clinics and the likes) with which your service is provided, right after you purchase your service, Healthier acts simply as a mediator between you and the service provider.

We pass along information you have provided to the Service Provider, the accuracy of information provided on the website is exclusive to the service providers who are responsible for updating their accounts with Healthier on their current status.

Though we aim to provide information about Service Providers that are as correct as possible, we will not confirm, neither will we guarantee that they are complete or accurate.

Choosing a service provider is entirely your decision and we cannot bear any liability for any disappointments that is met.

You accept that you have read, understood and agreed to the terms and conditions (as well as our privacy policy) below, if and when you make use of our service in any way, including but not limited to browsing this website, or buying a service.

Ratings and reviews of Service Providers are given by the public and previous users. 

Healthier has no control over user ratings and cannot guarantee that the reviews are accurate or true, most of which are solely dependent on the likes and dislikes of the reviewer.
        </div>
      </div>

   </div>

</div>
</div>
   {% endblock content %}