{% extends "dashboard.html" %}
{% load staticfiles %}
          {% block content %}

    <!-- <form method="post" action="regserv">
     {% csrf_token %} -->
     <!-- <form method="post" id="serviceForm" data-cities-url="{% url 'ajax_load_subgroup' %}" novalidate > -->
    <div id="wrapper">

            <form method="post" action= "{% url 'veri_profile' pk=user.pk %}" enctype="multipart/form-data" >

            {% csrf_token %}
     <div id="page-wrapper" >
            <div class="container-fluid" >
     


                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                             Organization Profile
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                {% comment %} <i class="fa fa-dashboard"></i>  <a href= "{% url 'dashboard' %}">Dashboard</a> {% endcomment %}
                            </li>
                            <li class="active">
                                <i class="fa fa-bar-chart-o"></i> Customer Reviews
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Flot Charts -->
            
                <!-- /.row -->
                <div class="container-fluid">

                <div class="row">
                        <div class="col-md-8">
                                <div class="card card-cart bg-white border-white border-0" style="height: 450px">
                                    <div class="card-header" style="text-align: center;">
                                      <h4 class="card-title"> Customer Reviews</h4>
                                    </div>
                                  
                                    <div class="card-body" style="overflow-y: auto">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                             <b> Comment Title </b>
                                              Comment
                                              <span class="badge badge-primary badge-pill">Customer Email</span>
                                              <span class="badge badge-primary badge-pill">like/dislike</span>

                                            </li>
                                          
                                         
                                          </ul>
                              
                                  </div>
              
               
                                  </div>
                  
                    </div>
                  

                    <div class="col-lg-4">
                        <div class="card card-custom">
                            <div class="card-header">
                                <h3> Organization Profile</h3>
                            </div>
                            <div class="card-body">
                               

                                    <!-- Copy the content below until next comment -->
                                    <div class="card  bg-white border-white border-0">
                                      <div class="card-custom-avatar">
                                        <img class="img-fluid" src="" alt="Logo" />
                                      </div>
                                      <div class="card-body" style="overflow-y: auto">
                                        <h4 class="card-title">{{ service.Service }}</h4>
                                        <h6 class="card-subtitle">{{ service.provider.org_name }} org_name</h6>            
                                      
                                        Address  #geolocate??
                                        City 
                                        Country 
                                        Phone Number 
                                        Web Portal 
                                        Activate Staff Account- Name, Role, 
                                      </div>
                                      <div class="card-footer" style="background: inherit; border-color: inherit;">
                                            <span style= "color: blue">{{ adserv.provider_ID.likes }}<i class="fa fa-thumbs-up"></i></span>
                                            <span style="color: red">{{ adserv.provider_ID.dislikes }}<i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                                        <a href="#" class="btn btn-outline-primary">Edit Profile</a>
                                      </div>
                                    </div>
                                    <!-- Copy until here -->
                              
                             

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

<div class="col text-left text-monospace" style="padding:10px ">
                                        
                                           
          <p><a href="{% url 'provtandc' %}">Terms and Conditions </a></p>
           <p> <a href="{% url 'users:proregister' %}">
                             Register
                                            </a>|
           <a href="{% url 'users:prologin' %}">
                                                Login
                                             </a>  </p> 
      </div>
                   
         
        <!-- /#page-wrapper -->
      </div>

    </div>
</div>

    <!-- /#wrapper -->
<!-- </form> -->
<!-- <div class="panel panel-green">
        <div class="panel-heading">
    </div>

<table>
        {{ form.as_table }}
      </table>
      <button type="submit">Save</button>
</div> -->
    </form>
</div>

    <!-- jQuery -->
    <script src=" {% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>

    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/plugins/flot/flot-data.js' %}"></script>

    <script>
            $(function () {
          var bindDatePicker = function() {
               $(".date").datetimepicker({
               format:'YYYY-MM-DD',
                   icons: {
                       time: "fa fa-clock-o",
                       date: "fa fa-calendar",
                       up: "fa fa-arrow-up",
                       down: "fa fa-arrow-down"
                   }
               }).find('input:first').on("blur",function () {
                   // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
                   // update the format if it's yyyy-mm-dd
                   var date = parseDate($(this).val());
       
                   if (! isValidDate(date)) {
                       //create date based on momentjs (we have that)
                       date = moment().format('YYYY-MM-DD');
                   }
       
                   $(this).val(date);
               });
           }
          
          var isValidDate = function(value, format) {
               format = format || false;
               // lets parse the date to the best of our knowledge
               if (format) {
                   value = parseDate(value);
               }
       
               var timestamp = Date.parse(value);
       
               return isNaN(timestamp) == false;
          }
          
          var parseDate = function(value) {
               var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
               if (m)
                   value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);
       
               return value;
          }
          
          bindDatePicker();
        });</script>

   

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_category").change(function () {
      var url = $("#serviceForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var categoryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'category': categoryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_sub_group").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock content %}
