{% extends "index.html" %}
{% load staticfiles %}
          {% block content %}
 <!-- About Section -->

 


 <div class=" container-fluid" style="margin-top: 50px;">

<div class="container" >
   <div style="text-align: center;margin-top: 45px;"> 
    <h3 >Provider Terms and Conditions</h3>
</div>

<div class="card-group"  style="text-align: center;margin-top: 45px;">
      <div class="card">
          
        <div class="card-body" style="text-align: center;">



Providers agree to Healthier terms by registering and using their accounts. 

Providers must inform Healthier if they are exiting the service or they lose their bond.

Any Change to the following Guidelines will be communicated via registered Email to Service Providers or updated in the Guidelines that can be viewed on the Healthier portal.

Service Providers must have a dedicated service track solely for Healthier customers that is different from that of regular customers to guarantee immediate service delivery for on-time Healthier users.

Service Providers have the obligation to respect their commitment, both in terms of price and service features offered. 
Healthier reserves the right to apply sanctions to providers that default on offered services. 

 Healthier aim to pay providers immediately services are ordered, providers should expect payments for services within 24 hours of services being confirmed. 

Providers should send confirmation via Healthier mail to confirm service appointment. 

Payments would be reconciled every month end. Payments may be made on the next working day, if service booking occurred on holiday.

Healthier’s fee and commission is clear and transparent at 10% which is lower than the industry Standard of 20%.

Healthier will at all times strive to maintain service standards for Service Providers. 

Service Providers will be penalized 20% value of service for the following infractions:
Cancel orders after confirmation

Services are not provided within 30 minutes of Customer arrival.

Providers with poor customer satisfaction rates will be delisted, especially where minimum of 50% of customers rate the service provider 2 star and below in a specific month.
Service Provider with high cancellation rates of  up to 4 cancellations per month will be delisted with notice.

Delisted service providers will deactivated on the Healthier platform, but outstanding payments will still be effected.
 
Service Providers will pay an activation fee of $200 or its equivalent for reactivation on the Healthier portal. 

A Service Provider that has been deactivated more than 2 times will be deleted on the Healthier platform.

All requests regarding Service Provider management should be made via the following channels: healthier@bestratedhospitals.org, @Healthier_BRH
        </div>
      </div>
   </div>

</div>
</div>
   {% endblock content %}